body {
  background: #f2f2f2;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars-panel {
  background: #fff;
  padding: 24px 20px;
  width: 140px;

  display: grid;
  row-gap: 12px;
}
