@import './blocks/stars.css';

body {
  margin: 0;
}

.start {
  display: flex;
}

.start--star {
    background-image: url(star.822d561e.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}